In [1]:
import plotly.express as px

In [2]:
df = px.data.gapminder()
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [3]:
df[df.country=='United States']

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
1608,United States,Americas,1952,68.440,157553000,13990.48208,USA,840
1609,United States,Americas,1957,69.490,171984000,14847.12712,USA,840
1610,United States,Americas,1962,70.210,186538000,16173.14586,USA,840
1611,United States,Americas,1967,70.760,198712000,19530.36557,USA,840
1612,United States,Americas,1972,71.340,209896000,21806.03594,USA,840
1613,United States,Americas,1977,73.380,220239000,24072.63213,USA,840
1614,United States,Americas,1982,74.650,232187835,25009.55914,USA,840
1615,United States,Americas,1987,75.020,242803533,29884.35041,USA,840
1616,United States,Americas,1992,76.090,256894189,32003.93224,USA,840
1617,United States,Americas,1997,76.810,272911760,35767.43303,USA,840
1618,United States,Americas,2002,77.310,287675526,39097.09955,USA,840
1619,United States,Americas,2007,78.242,301139947,42951.65309,USA,840