In [15]:
conditions = [
    (scores['test_avg']>=93),
    (scores['test_avg']>=90),
    (scores['test_avg']>=87),
    (scores['test_avg']>=83),
    (scores['test_avg']>=80),
    (scores['test_avg']>=77),
    (scores['test_avg']>=73),
    (scores['test_avg']>=70),
    (scores['test_avg']>=67),
    (scores['test_avg']>=60),
    (scores['test_avg']<60)]
choices = ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'F']
scores['grade'] = np.select(conditions, choices, default='Z')
scores.head()

,name,test_1_score,test_2_score,test_3_score,test_4_score,test_5_score,test_6_score,test_7_score,test_8_score,test_9_score,test_10_score,test_avg,grade
0,Liam,78,98,74,95,69,83,63,61,90,73,78.4,C+
1,Olivia,94,96,91,60,79,61,99,62,81,80,80.3,B-
2,Noah,91,73,78,61,85,94,67,72,64,66,75.1,C
3,Emma,92,81,100,72,69,85,90,68,91,96,84.4,B
4,Oliver,78,72,92,73,94,73,88,68,72,82,79.2,C+